<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title >Fantasy Team</title>
  <!-- <link  type="text/css" href="/stylesheets/playerlist.css" /> -->
  <script type="text/javascript" src="/javascripts/sortable.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <style>
table.sortable thead {
    background-color:#eee;
    color:#7990cf;
    font-weight: bold;
    cursor: default;
}

#players {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  
}

#players td, #players th {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
}

#players tr:nth-child{background-color: #a3abcf;}

#players tr:hover {background-color: #a3abcf;}

#players th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #27187c;
  color: white;
  
}

body {
  background-image: url("/images/throw3.jpg");
}
h3 {
	color: white;
	font-size: 30px;
}
stats {
	border-radius: 100px 100px 100px 100px;
}

  </style>
</head>
<body>
  
  <div class="Title">
        <h3 style="font-family: cursive;">Fantasy Football Team</h3>
		<h3 style="font-family: cursive;">Your Fantasy Football Team is listed below!!</h3>
    </div>
	
	<table class="sortable" id="players">
	
  	 <thead>
		<tr>
			<th><p>Rank</p></th>
			<th><p>Player</p></th>
			<th><p>Team</p></th>
			<th><p>FantasyPosition</p></th>
			<th><p>Age</p></th>
			<th><p>GamesPlayed</p></th>
			<th><p>PassesCompleted</p></th>
			<th><p>FantasyPoints</p></th>
			<th><p>PPRScoring</p></th>
			<th><p>PositionRank</p></th>
		</tr>
	 </thead>
  	 
  <!-- Loop through quotes result.recordset[1].Name -->
    <tbody>
  
	 <% result.recordset.forEach(function(player) { %>
	 <tr>
	 <td> <span><%= player.Rank %></span> </td>
	 <td> <span><%= player.Player %></span> </td>
	 <td> <span><%= player.Team %></span> </td>
	 <td> <span><%= player.FantasyPosition %></span> </td>
	 <td> <span><%= player.Age %></span> </td>
	 <td> <span><%= player.GamesPlayed %></span> </td>
	 <td> <span><%= player.PassesCompleted %></span> </td>
	 <td> <span><%= player.FantasyPoints %></span> </td>
	 <td> <span><%= player.PPRScoring %></span> </td>
	 <td> <span><%= player.PositionRank %></span> </td>
	 <!--<td><input type="checkbox" class="checkbox" name="playerName" value="<%= player.Name+","+player.Team %>"></td>-->
	 </tr>
	
 
  <% }); %> 
</tbody>
</table>
<br><br>
<div class="stats">
<button id="weekstats"  onclick="location.href = '/weekstats';" id="weekstats">Weekly Stats!!!</button></div>
<!--<script type="text/javascript" src="/javascripts/playerselection.js"></script>-->
</body>
</html>